# coding=utf8

from os.path import join

main_node_host = 'localhost'
main_node_port = 5036
controller_port = 5036
main_node_manhole_port = 8790

app_root = '/home/wubin/observer'

client_registertimeout = 3000       # seconds
client_request_timeout = 1000       # seconds

request_max_attempts = 1
request_attempt_interval = 1000     # seconds?

versions = {"observer.sina.weibo": (1, 0)}
