# coding=utf8

from os.path import join

main_node_host = 'localhost'
main_node_port = 5035

main_node_manhole_port = 8787
app_root = '/home/wubin/observer'
key_root = join(app_root, '/keys')
server_key_file = join(key_root, 'server.key')
server_cert_file = join(key_root, 'server.cert')
ca_cert_file = join(key_root, 'cacert.pem')

user_mongo_host = 'localhost'
user_mongo_port = 27017
user_mongo_name = 'sandbox_keywords'
user_mongo_collection = 'users'
probe_mongo_collection = 'probes'
