# coding=utf8

from os.path import join

main_node_host = 'localhost'
main_node_port = 5035

client_manhole_port = 8788

userdb_host = 'localhost'
userdb_port = 27017
userdb_dbname = 'sandbox_mongo_5'
userdb_collection = 'users'

app_root = '/home/wubin/observer'
key_root = join(app_root, 'keys')
client_cert_file = join(key_root, 'client.cert')
client_key_file = join(key_root, 'client_key')
