# coding=utf8

from os.path import join

main_node_host = 'localhost'
main_node_port = 5035

app_root = '/home/wubin/observer'
key_root = join(app_root, "keys")

client_cert_file = join(key_root, 'client.cert')
client_key_file = join(key_root, 'client.key')

client_manhole_port = 8788
